
#helperCanvas{
    display: none;
}
body {
    margin: 0;
    display: flex;
    box-sizing: border-box;
    min-width: 100%;
    overflow: hidden;
    
}
#toolBox {
    position: absolute;
    top: 0;
    margin: 2vw;
}
body {
    user-select: none;
}
#properties {
    display: none;
}
#saveLoadContainer {
    position: absolute;
    top: 2vw;
    right:3vw;
}